/.axoCover
/.vs
/bin
/IO/Files.FileOperation/obj
/IO/Web.API.GitHub/obj
/IO/Web.API.GitHub/Tests/obj
/IO/Web.API.GitHub/Types/obj
/packages
/Settings/obj
/Settings/Tests/obj
/Settings/Types/obj
/UI/CaptionedPictureBox/obj
/UI/DirectoryBox/obj
/UI/DirectoryBox/Tests/obj
/UI/LatestVersion/obj
/UI/LatestVersion/Tests/obj
/UI/TaskDialog/obj
